* {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.toubu {
  width: 100%;
  background: #f36621;
  height: 40px;
}
p {
  position: absolute;
  top: 6px;
  left: 44%;
  color: white;
  font-size: 20px;
}
.toubu span {
  position: absolute;
  left: 5%;
  top: 10px;
  color: white;
  font-size: 20px;
}
.qwer {
  width: 50%;
  height: 50px;
  position: absolute;
  top: 40px;
  left: 0%;
  background-color: #F4F4F4;
  border-bottom: 2px solid #f36621 ;
}
.ab {
  width: 50%;
  height: 50px;
  position: absolute;
  top: 40px;
  right: 0%;
  background-color: #F4F4F4;
  border-bottom: 2px solid;
}
.zh {
  color: #f36621 ;
  font-size: 20px;
  position: absolute;
  left: 25%;
  top: 8px;
}
.sj {
  color: #A3A3A3;
  font-size: 20px;
  position: absolute;
  top: 8px;
  left: 25%;
}
#nr {
  width: 100%;
  height: 500px;
  background-color: #EEE9E9;
  position: absolute;
  top: 90px;
}
#nr input {
  width: 95%;
  height: 40px;
}
#nr #ywm {
  color: white;
  position: absolute;
  top: 30px;
  left: 0;
  font-size: 18px;
}
#nr #account {
  position: absolute;
  top: 20px;
  right: 0;
}
#nr #im {
  color: white;
  position: absolute;
  top: 85px;
  left: 0;
  font-size: 18px;
}
#nr #pwd {
  position: absolute;
  top: 75px;
  right: 0;
}
#nr #zm {
  color: white;
  position: absolute;
  top: 150px;
  left: 0;
  font-size: 18px;
}
#nr #yzm {
  position: absolute;
  top: 140px;
  right: 0;
}
#nr #btn {
  text-align: center;
  width: 50px;
  height: 30px;
  background-color: #FFFAFA;
  position: absolute;
  top: 145px;
  right: 5%;
}
#nr .dl {
  width: 90%;
  background: #f36621;
  height: 40px;
  position: absolute;
  top: 230px;
  left: 5%;
}
#nr .zc {
  color: #f36621;
  position: absolute;
  top: 275px;
  left: 5%;
}
#nr .wj {
  color: black;
  position: absolute;
  top: 275px;
  right: 5%;
}
#nr .dl p {
  cursor: pointer;
}
#qt {
  text-align: center;
  width: 100%;
}
#qt .x {
  position: absolute;
  top: 320px;
  left: 0;
  border: 1px solid red;
}
#qt .x1 {
  position: absolute;
  top: 320px;
  right: 0;
  border: 1px solid red;
}
#qt .q {
  position: relative;
  top: 290px;
}
#tubiao img {
  margin: 2%;
  position: relative;
  top: 420px;
  width: 50px;
  height: 50px;
}
