* {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
#head {
  width: 100%;
  background: #f36621;
  height: 40px;
  color: white;
  font-size: 15px;
}
img {
  position: relative;
  top: 20px;
  width: 16px;
  height: 16px;
}
#left {
  top: 20px;
  text-align: center;
  float: left;
  width: 50%;
  height: 40px;
}
#left a {
  position: relative;
  top: 14%;
  text-decoration: none;
  color: #666666;
  font-size: 14px;
}
#right {
  text-align: center;
  float: left;
  width: 50%;
  height: 40px;
}
#right a {
  position: relative;
  top: 14%;
  text-decoration: none;
  color: #666666;
  font-size: 14px;
}
#daohang {
  clear: both;
  height: 30px;
  border-bottom: 1px solid #bcbcbc;
}
#kuozhan {
  z-index: 999;
  display: none;
  position: absolute;
  right: 0;
  width: 100px;
  height: 70px;
  background: #f36621;
  top: 40px;
}
#kuozhan ul {
  position: absolute;
  left: -30px;
  padding-top: 10px;
}
#kuozhan ul li {
  list-style: none;
}
#kuozhan ul li img {
  width: 20px;
  height: 20px;
  position: relative;
  top: -4px;
}
#kuozhan ul li span {
  color: white;
  position: relative;
  top: -2px;
  padding-left: 10px;
  font-size: 14px;
}
#qq {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  z-index: 9999;
}
img {
  position: absolute;
  top: 5px;
  width: 30px;
  height: 30px;
}
#gengduo {
  top: 40px;
  border-radius: 3px ;
  position: relative;
  left: 5%;
  height: 40px;
  width: 90%;
  border: 1px solid #b8b8b8;
}
#gengduo p {
  font-size: 18px;
  text-align: center;
  position: relative;
  top: 20%;
  color: #898989;
}
#dibu {
  height: 50px;
  width: 100%;
  border-top: 1px solid #898989 ;
}
#id1 {
  clear: both;
  border-bottom: 1px solid #cbcbcb;
  height: 160px;
}
#id2 {
  border-bottom: 1px solid #cbcbcb;
  height: 130px;
}
#id3 {
  border-bottom: 1px solid #cbcbcb;
  height: 130px;
}
#id4 {
  border-bottom: 1px solid #cbcbcb;
  height: 130px;
}
#dianying {
  clear: both;
}
#left2 {
  width: 50%;
  float: left;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #cbcbcb;
  border-right: 1px solid #cbcbcb;
}
#left2 p {
  position: relative;
  top: 10px;
}
#left2 img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 10px;
  float: left;
  left: 40px;
}
#right2 {
  float: left;
  width: 50%;
  height: 40px;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #cbcbcb;
}
#right2 p {
  position: relative;
  top: 10px;
}
#right2 img {
  width: 20px;
  height: 20px;
  position: relative;
  top: 10px;
  float: left;
  left: 40px;
}
#daohang3 {
  position: absolute;
  top: 40px;
  z-index: 10000;
  float: left;
  display: none;
  width: 40%;
  height: 300px;
  background: #f1f1f1;
  font-size: 16px;
}
#daohang3 div {
  text-align: center;
  width: 100%;
  height: 60px;
}
#daohang3 div p {
  position: relative;
  top: 20px;
}
#aaa {
  z-index: 99;
  clear: both;
  height: 400px;
  width: 100%;
}
#c1 {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  float: left;
  width: 60%;
  height: 300px;
  background: white;
}
#c1 div {
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
}
#c1 div p {
  position: relative;
  top: 20px;
}
#c2 {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  float: left;
  width: 60%;
  height: 300px;
  background: white;
}
#c2 div {
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
}
#c2 div p {
  position: relative;
  top: 20px;
}
#c3 {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  float: left;
  width: 60%;
  height: 300px;
  background: white;
}
#c3 div {
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
}
#c3 div p {
  position: relative;
  top: 20px;
}
#d1 {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  float: left;
  width: 60%;
  height: 300px;
  background: white;
}
#d1 div {
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
}
#d1 div p {
  position: relative;
  top: 20px;
}
#d2 {
  position: absolute;
  top: 40px;
  right: 0;
  display: none;
  float: left;
  width: 60%;
  height: 300px;
  background: white;
}
#d2 div {
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #f1f1f1;
  text-align: center;
}
#d2 div p {
  position: relative;
  top: 20px;
}
#yingyuan {
  display: none;
  position: relative;
  top: -400px;
  width: 100%;
  height: 350px;
}
#id5 {
  height: 300px;
  clear: both;
}
#ttt {
  z-index: 100;
  width: 100%;
  height: 100%;
  position: relative;
  top: -99px;
}
#daohang2 {
  position: absolute;
  top: 40px;
  z-index: 10000;
  float: left;
  display: none;
  width: 40%;
  height: 300px;
  background: #f1f1f1;
  font-size: 16px;
}
#daohang2 div {
  text-align: center;
  width: 100%;
  height: 60px;
}
#daohang2 div p {
  text-align: center;
  position: relative;
  top: 20px;
}
#bbb {
  clear: both;
  height: 250px;
  width: 100%;
}
